html,body{
    background-color: rgba(0, 0, 0, 0.664);
    width: 100%;
    height: 100%;
}
#note{
    opacity: 0;
    height: 6%;
    background-color: rgba(165, 42, 42, 0.616);
}
.topLogin{
    border:4px solid rgba(70, 35, 196, 0.5);
    border-radius:10px;
    position:absolute;
    margin-top: 400px;
    margin-left: 5%;
    width: 20%;
    height: auto;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue ;
    text-align: center;
    background-color:rgba(0, 0, 139, 0.26);

}
.backLogin{
    background-image: url("../MH.jpg");
    background-size:100% 100%;
    width: 100%;
    height: 100%;
    position: static;
}
.userInfor{
    font-size: 30px;
}
.logInput{
    height: 20px;
}
.btn{
    line-height: 10px;
    font-size: 10px;
}
.btnLog{
    border-radius:20px;
    font-size: 15px;
    width: 40%;
    
}
.btnReg{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: white;
}
.btnFor{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: white;
}
.btnAbo{
    margin-left: 80% ;
    border: none;
    color: white;

    background-color: rgba(240, 248, 255, 0);
    

}